.wallets-section {
    display: grid;
    grid-template-columns: auto;
}

.wallets-section--main {
    display: grid;
    grid-template-rows: max-content max-content auto;
    row-gap: 32px;

    align-items: baseline;

    padding: 30px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.wallets-section--main__container__wallets-table {
    width: 100%;
    height: 100%;
}
