.form__fields-container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;

  width: 100%;
}

.form__fields-container > * {
  width: 100%;
}

.form__submit-button {
  margin-top: 20px;

  width: 100%;
}