.app-layout__header {
    display: grid;
    grid-template-columns: auto max-content;
    row-gap: 10px;
}

.app-layout__header__texts-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
}

.app-layout__header__actions-container {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    column-gap: 2px;
    
    width: max-content;
}

.app-layout__header__actions-container > .rounded-icon-button {
    margin-left: 10px;
}

.transactions-month-picker {
    width: 250px;
    height: max-content;
}
