.transactions-section {
    display: grid;
    grid-template-columns: auto 340px;
}

.transactions-section--main {
    display: grid;
    grid-template-rows: max-content max-content max-content auto max-content;
    row-gap: 8px;

    align-items: baseline;

    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.transactions-section--main__wallets-multi-select {
    width: 100%;

    margin-top: 16px;
}

.transactions-section--main__statistic-container {
    display: grid;
    grid-auto-flow: column;

    padding: 12px 16px 12px 16px;
}

.transactions-section--main__statistic-container__left {
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;

    width: max-content;
}

.transactions-section--main__total-income,
.transactions-section--main__total-expense,
.transactions-section--main__total-balance {
    width: 180px;
}

.transactions-section--main__statistic-container__right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;

    width: max-content;

    justify-self: right;
}

.transactions-section--details {
    border-left: 1px solid var(--border-color);
}

.transactions-section__main__container__transactions-table {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1400px) {
    .transactions-section {
        grid-template-columns: auto;
    }

    .transactions-section--details {
        display: none;
    }
}
