.app-layout__header {
    display: grid;
    grid-template-columns: auto max-content;
    row-gap: 10px;
}

.app-layout__header__texts-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 8px;
}

.app-layout__header__texts_container__title {
    user-select: none;
}

.app-layout__header__actions-container {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;

    width: max-content;
}
