.select {
    position: relative;

    display: grid;
    grid-template-rows: max-content max-content auto;

    min-width: 120px;
    height: max-content;

    cursor: pointer;
}

.select__title {
    user-select: none;
}

.select--error > .select__body {
    border-color: var(--error-400);
}

.select--error:hover > .select__body {
    border-color: var(--error-500);
}

.select--error:focus > .select__body {
    border-color: var(--error-500);
    box-shadow: var(--error-aura-shadow);
}

.select__body {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: center;

    width: 100%;
    height: 40px;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;

    transition: all 0.3s;
}

.select__body__custom-item-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 15px;
    align-items: center;
}

.select__body__icon {
    width: auto;
    height: 100%;

    color: var(--neutral-800);
}

.select__body__row {
    transition: all 0.4s;
}

.select__body__row--activated {
    transform: rotate(-180deg);
}

.select__body__button {
    width: 40px;
    height: 100%;

    border-radius: 0px 4px 4px 0px;
}

.select__body__text {
    user-select: none;
}

.select__body__chip-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;

    width: max-content;
}

.select__options-panel {
    display: grid;
    grid-template-rows: 40px auto auto;

    position: absolute;
    left: 0;
    top: 62px;
    z-index: 100;

    width: 100%;
    height: max-content;
    max-height: 200px;

    margin-top: 4px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: var(--low-elevation);
}

.select__options-panel--opened {
    animation: fade-opening 0.1s forwards;
}

.select__options-panel--closed {
    animation: fade-closing 0.1s forwards;
}

.select__options-panel--has-never-been-opened {
    opacity: 0;
    visibility: hidden;
}

.select__options-panel__search-container {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 8px;

    border-bottom: 1px solid var(--border-color);
    padding: 6px;
    padding-inline: 10px;
}

.select__options-panel__search-container__search-input {
    align-self: center;
    justify-self: center;

    width: 100%;
    height: 100%;

    border: none;
    border-radius: 4px;
    background-color: var(--neutral-50);
    box-sizing: border-box;
    padding-inline: 13px;
}

.select__options-panel__search-container__search-input::placeholder {
    color: var(--neutral-600);
}

.select__options-panel__options-container {
    position: relative;

    height: max-content;
    max-height: 150px;

    padding: 4px;
    overflow-y: auto;
    cursor: default;
}

.select__options-panel__options-container__no-options-container {
    margin: 16px;
    user-select: none;
    cursor: default;
}

.select__options-panel__options-container__no-options-container__text {
    text-align: center;
    color: var(--ghost-text-color);
}

.select__option {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    align-items: center;

    width: 100%;
    height: 30px;

    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.select__option--selected {
    background-color: var(--primary-50);
}

.select__option--selected > .select__option_text {
    color: var(--primary-500);
}

.select__option_text {
    user-select: none;
}

.select__option:hover {
    background-color: var(--neutral-50);
}

.select__options-panel__create-new-option-button-container {
    padding-inline: 10px;
}
.select__options-panel__create-new-option-button-container > * {
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes fade-opening {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        display: grid;
    }
}

@keyframes fade-closing {
    0% {
        opacity: 1;
        display: grid;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
