.multi-select {
    position: relative;

    display: grid;
    grid-template-rows: max-content max-content auto;

    min-width: 120px;
    height: 40px;
    
    cursor: pointer;
}

.multi-select__body {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: center;

    width: 100%;
    height: 40px;
    
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    
    transition: background-color 0.2s;
}

.multi-select__body__custom-item-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 15px;
    align-items: center;
}

.multi-select__body__icon {
    width: auto;
    height: 100%;

    color: var(--neutral-800);
}

.multi-select__body__row {
    transition: all 0.4s;
}

.multi-select__body__row--activated {
    transform: rotate(-180deg);
}

.multi-select__body__button {
    width: 40px;
    height: 100%;

    border-radius: 0px 4px 4px 0px;
}

.multi-select__body__text {
    user-select: none;
}

.multi-select:hover .multi-select__body {
    background-color: var(--neutral-50);
}

.multi-select__options-panel {
    display: grid;
    grid-template-rows: 40px auto auto;

    position: relative;
    left: 0;
    top: 4px;
    z-index: 100;

    height: max-content;
    max-height: 200px;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: var(--low-elevation);
}

.multi-select__options-panel--opened {
    animation: fade-opening 0.1s forwards;
}

.multi-select__options-panel--closed {
    animation: fade-closing 0.1s forwards;
}

.multi-select__options-panel__search-container {
    display: grid;

    border-bottom: 1px solid var(--border-color);
    padding: 6px;
    padding-inline: 10px;
}

.multi-select__options-panel__search-container__search-input {
    align-self: center;
    justify-self: center;
    
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 4px;
    background-color: var(--neutral-50);
    box-sizing: border-box;
    padding-inline: 13px;
}

.multi-select__options-panel__search-container__search-input::placeholder {
    color: var(--neutral-600);
}

.multi-select__options-panel__options-container {
    padding: 4px;
}

.multi-select__option {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    align-items: center;

    width: 100%;
    height: 30px;

    padding: 5px;
    box-sizing: border-box;
}

.multi-select__option_text {
    user-select: none;
}

.multi-select__options-panel__create-new-option-button-container > * {
    width: 100%;

    margin: 10px;
}

@keyframes fade-opening {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        display: grid;
    }
}

@keyframes fade-closing {
    0% {
        opacity: 1;
        display: grid;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
