.transaction-item {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;

    height: 70px;

    border-bottom: 1px solid var(--neutral-50);

    padding: 10px;
    box-sizing: border-box;

    animation: fade 0.5s forwards;
}

.transaction-item--icon {
    width: auto;
    height: 54%;
    
    color: var(--primary-400);
}

.transaction-item--text-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    margin-right: 40px;
}

.transaction-item--text-container__transaction-name,
.transaction-item--text-container__transaction-date {
    user-select: none;
}

.transaction-item__amount {
    margin-right: 32px;
}

.transaction-item--is-income > .transaction-item__amount {
    color: var(--success-600);
}
