.input-text-field {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    min-width: 100px;
}

.input-text-field__title {
    color: var(--neutral-600);
    user-select: none;
}

.input-text-field__input {
    height: 40px;

    border-radius: var(--border-radius);
    border: 1px solid var(--input-border-color);
    box-sizing: border-box;
    color: var(--normal-text-color);
    font-size: 16px;
    font-weight: 400;

    padding: 14px 14px;

    transition: 0.3s all;
}

.input-text-field__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--ghost-text-color);
}

.input-text-field__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--ghost-text-color);
}

.input-text-field__input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--ghost-text-color);
}

.input-text-field__input:hover {
    border-color: var(--primary-500);
}

.input-text-field__input:focus {
    border-color: var(--primary-500);
    box-shadow: var(--aura-shadow);
}

.input-text-field--in-error .input-text-field__input {
    border-color: var(--error-400);
}

.input-text-field--in-error .input-text-field__input:hover {
    border-color: var(--error-500);
}

.input-text-field--in-error .input-text-field__input:focus {
    border-color: var(--error-500);
    box-shadow: var(--error-aura-shadow);
}
