.statistic {
    display: grid;
    grid-auto-flow: row;
}

.statistic__title {
    user-select: none;
}

.statistic__value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
