.rounded-text-icon-button {
    border-radius: 50%;
    box-sizing: border-box;

    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s, opacity 0.2s;
}

.rounded-text-icon-button--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.rounded-text-icon-button--small {
    width: 34px;
    height: 34px;
}

.rounded-text-icon-button--regular {
    width: 40px;
    height: 40px;
}

.rounded-text-icon-button:hover .rounded-text-icon-button__icon {
    color: var(--primary-500);
}

.rounded-text-icon-button:active {
    background-color: var(--primary-50);
}

.rounded-text-icon-button:focus {
    box-shadow: var(--aura-shadow);
}

.rounded-text-icon-button:focus .rounded-text-icon-button__icon {
    color: var(--primary-500);
}

.rounded-text-icon-button__icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 60%;

    color: var(--neutral-600);

    transition: color 0.2s;
}

/* -- Danger */

.rounded-text-icon-button--danger:active {
    background-color: var(--error-50);
}

.rounded-text-icon-button--danger:focus {
    box-shadow: var(--error-aura-shadow);
}

.rounded-text-icon-button--danger:hover .rounded-text-icon-button__icon {
    color: var(--error-600);
}

.rounded-text-icon-button--danger:focus .rounded-text-icon-button__icon {
    color: var(--error-600);
}

.rounded-text-icon-button--danger .rounded-text-icon-button__icon {
    color: var(--error-400);
}

/* -- Success */

.rounded-text-icon-button--success:active {
    background-color: var(--success-50);
}

.rounded-text-icon-button--success:focus {
    box-shadow: var(--success-aura-shadow);
}

.rounded-text-icon-button--success:hover .rounded-text-icon-button__icon {
    color: var(--success-500);
}

.rounded-text-icon-button--success:focus .rounded-text-icon-button__icon {
    color: var(--success-500);
}

.rounded-text-icon-button--success .rounded-text-icon-button__icon {
    color: var(--success-400);
}
