.rounded-text-icon-button {
    width: 40px;
    height: 40px;

    background-color: var(--background-color);
    border-radius: 50%;
    
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.rounded-text-icon-button:hover .rounded-text-icon-button__icon {
    color: var(--primary-500);
}

.rounded-text-icon-button:active {
    background-color: var(--primary-100);
}

.rounded-text-icon-button:focus {
    box-shadow: var(--aura-shadow);
}

.rounded-text-icon-button:focus .rounded-text-icon-button__icon {
    color: var(--primary-500);
}

.rounded-text-icon-button__icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 25px;
    height: 25px;

    color: var(--neutral-600);
    
    transition: color 0.2s;
}

/* -- Danger */

.rounded-text-icon-button--danger:active {
    background-color: var(--error-50);
}

.rounded-text-icon-button--danger:focus {
    box-shadow: var(--error-aura-shadow);
}


.rounded-text-icon-button--danger:hover .rounded-text-icon-button__icon {
    color: var(--error-600);
}

.rounded-text-icon-button--danger:focus .rounded-text-icon-button__icon {
    color: var(--error-600);
}

.rounded-text-icon-button--danger .rounded-text-icon-button__icon {
    color: var(--error-400);
}
