.light-mode {
    --neutral-800: #322e38;
    --neutral-700: #4a4453;
    --neutral-600: #7d738c;
    --neutral-500: #b1abba;
    --neutral-100: #e5e3e8;
    --neutral-50: #faf9fa;

    --primary-600: #271278;
    --primary-500: #6241e3;
    --primary-400: #866ce9;
    --primary-300: #ab99f0;
    --primary-200: #cfc5f6;
    --primary-100: #ece9fc;
    --primary-50: #f8f6fe;

    --accent-600: #d60050;
    --accent-500: #ff3c85;
    --accent-400: #ff70a6;
    --accent-300: #ffa3c6;
    --accent-200: #ffd6e5;
    --accent-100: #fff0f5;
    --accent-50: #fffafc;

    --success-600: #298d69;
    --success-500: #3bc996;
    --success-400: #89dfc0;
    --success-100: #d8f4ea;
    --success-50: #fafffd;

    --warning-600: #cc8d2e;
    --warning-500: #ffb03a;
    --warning-400: #ffc875;
    --warning-100: #ffefd8;
    --warning-50: #fffdfa;

    --error-600: #a72646;
    --error-500: #e63057;
    --error-400: #ff8f95;
    --error-100: #ffdae0;
    --error-50: #fff6f9;

    --background-color: white;
    --border-color: var(--neutral-100);

    --normal-text-color: var(--neutral-800);
    --ghost-text-color: var(--neutral-500);

    --button-text-color: white;

    --aura-shadow: 0px 0px 0px 3px var(--primary-100);
    --error-aura-shadow: 0px 0px 0px 3px var(--error-100);
    --success-aura-shadow: 0px 0px 0px 3px var(--success-100);
    --high-elevation: 0px 2px 10px 0px var(--neutral-100);
    --low-elevation: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
