.light-mode {
    --neutral-800: #322e38;
    --neutral-700: #4a4453;
    --neutral-600: #7d738c;
    --neutral-500: #b1abba;
    --neutral-100: #f3f1f7;
    --neutral-50: #faf9fa;

    --primary-600: #3F3CE1;
    --primary-500: #6562FF;
    --primary-400: #837FFF;
    --primary-300: #A19CFF;
    --primary-200: #C0BFFF;
    --primary-100: #DED9FF;
    --primary-50: #F3F2FF;

    --accent-600: #d60050;
    --accent-500: #ff3c85;
    --accent-400: #ff70a6;
    --accent-300: #ffa3c6;
    --accent-200: #ffd6e5;
    --accent-100: #fff0f5;
    --accent-50: #fffafc;

    --success-600: #1E825E;
    --success-500: #3BC996;
    --success-400: #5FE2A1;
    --success-300: #84EEB0;
    --success-200: #A9F8C0;
    --success-100: #CEFDD0;
    --success-50: #F2FFF3;

    --warning-600: #E08718;
    --warning-500: #FFB03A;
    --warning-400: #FFC766;
    --warning-300: #FFDB8F;
    --warning-200: #FFE9B9;
    --warning-100: #FFF5E0;
    --warning-50: #FFFCF3;

    --error-600: #B61D3E;
    --error-500: #E63057;
    --error-400: #F06A80;
    --error-300: #F492A0;
    --error-200: #F7BCC1;
    --error-100: #FBDDE0;
    --error-50: #FFF3F4;

    --ground-background-color: #FDFDFD;
    --card-background-color: white;
    --border-color: #F9F8FA;
    --input-border-color: #f0eef1;
    --border-radius: 6px;

    --normal-text-color: var(--neutral-800);
    --ghost-text-color: var(--neutral-500);

    --button-text-color: white;

    --aura-shadow: 0px 0px 0px 3px var(--primary-50);
    --error-aura-shadow: 0px 0px 0px 3px var(--error-100);
    --success-aura-shadow: 0px 0px 0px 3px var(--success-100);
    --low-elevation: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
