.creation-module__main-content {
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 24px;

    width: 100%;
    max-width: 800px;
}

.creation-module__form {
    display: grid;
    grid-template-rows: max-content auto max-content max-content;
    row-gap: 24px;
}

.creation-module__form__footer {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    justify-content: right;
}

.creation-module__form button[type="submit"] {
    justify-self: right;

    width: max-content;
}
