.multi-select__option {
    display: grid;
    grid-auto-flow: row;
    row-gap: 4px;

    width: 100%;

    padding: 5px;
    box-sizing: border-box;
}

.multi-select__option__input-container {
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 10px;
    align-items: center;
}

.multi-select__option__input-container__errors {
    display: grid;
    grid-auto-flow: row;
    row-gap: 4px;
}

.multi-select__option_text {
    user-select: none;
    padding: 4px;
    pointer-events: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    transition: all 0.2s;
}

.multi-select__option--in-edit-mode .multi-select__option_text {
    border-color: var(--border-color);
    pointer-events: unset;
}

.multi-select__option--in-edit-mode .multi-select__option_text--in-error {
    border-color: var(--error-400);
}

.multi-select__option--in-edit-mode .multi-select__option_text--in-error:hover {
    border-color: var(--error-500);
}

.multi-select__option--in-edit-mode .multi-select__option_text--in-error:focus {
    border-color: var(--error-500);
    box-shadow: var(--error-aura-shadow);
}

.multi-select__option__actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;
}
