.transactions-section {
    display: grid;
    grid-template-columns: auto 400px;
}

.transactions-section--main {
    display: grid;
    grid-template-rows: max-content auto;
    
    padding: 30px;
    padding-top: 40px;
}

.transactions-section--main--container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    overflow-y: auto;
}

.transactions-section--details {
    border-left: 1px solid var(--neutral-50);
}
