.chip {
    width: max-content;
    height: max-content;

    background-color: var(--neutral-50);
    border-radius: 8px;
    padding: 4px;
    padding-inline: 8px;

    animation: fade 0.1s forwards;
}

.chip__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
