.range-date-picker__panel {
    display: grid;
    grid-auto-flow: row;
    row-gap: 8px;

    position: absolute;
    z-index: 1000;

    width: max-content;
    height: max-content;

    background-color: var(--card-background-color);
    box-shadow: var(--high-elevation);
    border-radius: 8px;
    padding: 16px;

    user-select: none;

    animation: fade 0.1s forwards;
}

.range-date-picker__panel--opened {
    animation: fade-opening 0.1s forwards;
}

.range-date-picker__panel--closed {
    animation: fade-closing 0.1s forwards;
}

.range-date-picker__panel--has-never-been-opened {
    opacity: 0;
    visibility: hidden;
}

.range-date-picker__panel__header {
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;

    height: max-content;
}

.range-date-picker__panel__header > .range-date-picker__panel__header__month-name {
    text-align: center;
    font-weight: 400;
}

/* || Weekday list */

.range-date-picker__panel__weekday-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;

    width: 100%;

    margin-top: 16px;
}

.range-date-picker__panel__weekday-list__weekday {
    width: 30px;

    text-align: center;
}

/* -- */

/* || Month day list */

.range-date-picker__panel__month-day-list {
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 8px;
    row-gap: 6px;

    margin-top: 8px;
}

.range-date-picker__panel__month-day-list__month-day {
    display: grid;

    width: 30px;
    height: 30px;

    border-radius: 50%;

    cursor: pointer;

    transition: background-color 0.2s;
}

.range-date-picker__panel__month-day-list__month-day--start-day-candidate:hover {
    background-color: var(--primary-50);
}

.range-date-picker__panel__month-day-list__month-day--start-day-candidate:hover
    > .range-date-picker__panel__month-day-list__month-day__text {
    color: var(--primary-400);
}

.range-date-picker__panel__month-day-list__month-day__text {
    align-self: center;
    text-align: center;
    font-weight: 600;
    color: var(--neutral-600);
}

.range-date-picker__panel__month-day-list__month-day--selected-range-extreme-day {
    background-color: var(--primary-600);
}

.range-date-picker__panel__month-day-list__month-day--selected-range-extreme-day
    > .range-date-picker__panel__month-day-list__month-day__text {
    color: var(--button-text-color);
}

.range-date-picker__panel__month-day-list__month-day--selected-range-day {
    background-color: var(--primary-100);
}

.range-date-picker__panel__month-day-list__month-day--selected-range-day
    > .range-date-picker__panel__month-day-list__month-day__text {
    color: var(--primary-600);
}

.range-date-picker__panel__month-day-list__month-day--is-of-another-month {
    opacity: 0.5;
}

/* -- */

@keyframes fade-opening {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        display: unset;
    }
}

@keyframes fade-closing {
    0% {
        opacity: 1;
        display: unset;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
