.settings-section {
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 32px;
}

.settings-section__card {
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 32px;
}

.settings-tab {
    display: grid;
    grid-template-rows: auto max-content;
}

.settings-tab__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 16px;

    height: max-content;
}

.settings-tab__footer {
    display: grid;
    justify-content: right;
}
